@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes soundWave {
  0% {
    height: 4px;
  }
  50% {
    height: 16px;
  }
  100% {
    height: 8px;
  }
}

.animate-sound-wave {
  animation: soundWave 0.5s infinite alternate;
}